.app {
  text-align: center;
  padding: 20px;
}

.leyenda {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.leyenda-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.cuadro {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.libre {
  background-color: #d3d3d3; /* Gris */
}

.ocupado {
  background-color: #ff4c4c; /* Rojo */
}

.estacionamiento {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.icono-estacionamiento {
  margin-top: 30px;
}

.icono-estacionamiento img {
  width: 50px;
  height: 50px;
}